PyQt6
pydantic
pydantic-settings
python-dotenv
structlog
alembic
SQLAlchemy
supabase
python-dateutil
fuzzywuzzy
python-Levenshtein  # speeds up fuzzywuzzy
pytest
PyInstaller
pathlib
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
